@import url(./variables.css);
.container {
  display: flex;
  align-items: stretch;
}
#sidebar {
  flex: 0 1 315px;
}
.content {
  font-family: var(--font-open-sans);
  color: var(--text-cl);
  flex: 1 0 0px;
  padding: 40px 25px;
  padding-bottom: 145px;
  background-color: var(--primary-cl);
  min-height: calc(100vh - 91px);
}
.content-top span {
  display: inline-block;
  font-family: var(--font-nunito);
  font-size: var(--font-s24);
  font-weight: var(--font-w6);
  color: var(--nav-cl);
  margin-bottom: 40px;
}
.content-bottom {
  background-color: var(--br-cl-content);
  border-radius: 15px;
  padding: 47px 30px 37px 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.project-title span,
.project-type span,
.project-time-left span,
.project-time-right span,
.content-bottom-Description span,
.rules-title {
  display: inline-block;
  font-size: var(--font-s23);
  font-weight: var(--font-w6);
}
.content-bottom-create {
  display: grid;
  grid-template-columns: 1.26fr 1.26fr 1fr;
  gap: 30px;
}
.project-title,
.project-type,
.project-time-left,
.project-time-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.project-times {
  display: flex;
  gap: 20px;
  /* justify-content: space-between; */
}
.project-title input,
.project-type input {
  padding: 14px;
  display: inline-block;
  border-radius: 15px;
  outline: none;
  border: 1px solid var(--nav-cl);
  color: var(--nav-cl);
  font-size: var(--font-s20);
}
.projectt-times-start,
.projectt-times-end {
  border: 1px solid var(--nav-cl);
  border-radius: 15px;
  padding: 14px;
}
.projectt-times-start input,
.projectt-times-end input,
.content-bottom-Description textarea {
  display: inline-block;
  outline: none;
  border: none;
  color: var(--nav-cl);
  font-size: var(--font-s20);
}
.content-bottom-Description {
  width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.content-bottom-Description textarea {
  resize: none;
  padding: 14px;
  border: 1px solid var(--nav-cl);
  border-radius: 15px;
  display: block;
}
.rules-title {
  margin-bottom: 10px;
}
.rules-list {
  max-width: 490px;
  padding: 17px 24px;
  border-radius: 12px;
  border: 1px solid var(--nav-cl);
  flex: 1;
}
.rules-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--nav-cl);
  padding: 0 9px 10px 9px;
}
.rules-list-item span {
  font-size: var(--font-s18);
  font-weight: var(--font-w6);
}
.rules-list-item-left {
  width: 60%;
  display: flex;
  justify-content: space-between;
}
#arrow-black {
  display: inline-block;
  cursor: pointer;
  transition: transform 0.2s linear;
}
.arrow {
  transform: rotate(180deg);
}
.rules-list-and-butt {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.rules-butt-create,
.rules-butt-delete {
  font-size: var(--font-s18);
  font-weight: var(--font-w5);
  font-family: var(--font-inter);
  padding: 18px 23px;
  cursor: pointer;
  border-radius: 15px;
  border: none;
  outline: none;
}
.rules-butt-create {
  color: var(--text-cl-butt);
  background-color: var(--blue-butt);
  margin-right: 28px;
  text-decoration: none;
}
.rules-butt-delete {
  text-decoration: none;
  background-color: #eef4fb;
  color: var(--blue-butt);
}

.rules-list-box {
  display: none;
}
.rules-list-check {
  padding: 10px 9px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--nav-cl);
}
.rules-list-check:last-child {
  border: none;
}
.item-left-name {
  display: inline-block;
  font-size: var(--font-s18);
  font-weight: var(--font-w4);
}
.item-left-position {
  display: inline-block;
  margin-left: 27px;
  font-size: var(--font-s18);
  font-weight: var(--font-w4);
  font-style: italic;
  color: var(--nav-cl);
}
/* Style lại cho ô check-box */
.checkbox {
  width: 20px;
  border-radius: 5px;
  aspect-ratio: 1 / 1;
  border: 1px solid #323232;
  transition: background-color 0.1s linear;
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkbox img {
  width: 12px;
}
.check-input {
  display: none;
}
.check-input:checked + .checkbox {
  background-color: #323232;
}
.checkbox-label {
  cursor: pointer;
}
