@import url(./variables.css);
.container {
  display: flex;
  align-items: stretch;
}
#sidebar {
  flex: 0 1 315px;
}
.content {
  font-family: var(--font-montserrat);
  color: var(--text-cl);
  flex: 1 0 0px;
  padding: 40px;
  padding-bottom: 75px;
  background-color: var(--primary-cl);
  min-height: calc(100vh - 91px);
}
.content-list {
  background-color: var(--br-cl-content);
  border-radius: 20px;
  padding: 25px 45px 50px 10px;
}
.content-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  margin-bottom: 20px;
}
.content-title-task {
  display: inline-block;
  font-size: var(--font-s20);
  font-weight: var(--font-w6);
  font-family: var(--font-nunito);
  color: #9a93b3;
}
.content-title-butt {
  display: inline-block;
  font-size: var(--font-s18);
  font-weight: var(--font-w5);
  font-family: var(--font-inter);
  color: var(--text-cl-butt);
  background-color: var(--blue-butt);
  padding: 18px 10.5px;
  border-radius: 15px;
  border: none;
  outline: none;
  cursor: pointer;
}
.content-list-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-left {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}
.main-left-content-text {
  font-size: var(--font-s14);
  font-weight: var(--font-w7);
}
.main-left-status {
  margin-top: 5px;
  display: inline-flex;
  gap: 25px;
  align-items: center;
}
.main-left-status-text {
  font-size: var(--font-s12);
  font-weight: var(--font-w4);
}
.main-left-status-text-solid {
  font-weight: var(--font-w7);
}
.status-load {
  display: inline-flex;
  gap: 10px;
}
.status-load-complete,
.status-load-low {
  display: inline-block;
  font-size: var(--font-s12);
  font-weight: var(--font-w5);
  color: var(--complete-cl);
  background-color: var(--complete-br-cl);
  border-radius: 22px;
}
.status-load-complete {
  padding: 5px 15px;
}
.status-load-low {
  padding: 5px 30px;
}
.main-right {
  display: inline-flex;
  align-items: center;
  gap: 45px;
}
.main-right-time {
  display: inline-flex;
  align-items: center;
  gap: 7px;
  padding: 5px 18px;
  background-color: var(--complete-br-cl);
  border-radius: 18px;
}
.main-right-time span {
  display: inline-block;
  font-size: var(--font-s16);
  font-weight: var(--font-w5);
  font-family: var(--font-inter);
  color: var(--complete-cl);
}
.content-list-sub {
  padding-inline: 50px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.list-sub-item {
  box-shadow: 0px 3px 35px 0px rgba(0, 0, 0, 0.06);
  padding: 20px 25px 20px 10px;
  border-radius: 20px;
}
