<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/header.css" />
    <title>Document</title>
  </head>
  <body>
    <header class="main-header">
      <div class="header">
        <a href="../pages/user_dashboard.html" class="header-left">
          <div class="header-leftt-img">
            <img src="../picture/header/Icon.png" alt="Icon" />
          </div>
          <span>AProjectO</span>
        </a>
        <div class="header-right">
          <div class="header-right-search">
            <img
              src="../picture/header/search-normal.png"
              alt="search-normal"
            />
            <input type="text" placeholder="Search for anything" />
          </div>
          <div class="header-right-bell">
            <img src="../picture/header/notification.png" alt="bell" />
          </div>
          <div class="header-right-account">
            <div class="account-if">
              <span class="account-if-name">Anima Agrawal</span>
              <span>U.P, India</span>
            </div>
            <div class="account-img">
              <a
                href="../pages/project_user_profile.html"
                class="account-img-br"
                href="#"
              >
                <div class="account-img-circle"></div>
                <img src="../picture/header/Ellipse 18.png" alt="admin" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!--  -->
    <script src="../js/header.js"></script>
  </body>
</html>
