<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/sidebar_user.css" />
    <title>Document</title>
  </head>
  <body>
    <nav class="main-sidebar">
      <a href="" class="sidebar-items">
        <img src="../picture/sidebar/Leading Icon.png" alt="Icon" />
        <span>Project</span>
      </a>
      <a href="" class="sidebar-items">
        <img src="../picture/sidebar/Leading Icon (1).png" alt="Icon" />
        <span>Tasks</span>
      </a>
      <a href="" class="sidebar-items">
        <img src="../picture/sidebar/Leading Icon (2).png" alt="Icon" />
        <span>Work Logs</span>
      </a>
      <a href="" class="sidebar-items">
        <img src="../picture/sidebar/Leading Icon (3).png" alt="Icon" />
        <span>Performance</span>
      </a>
      <a href="../pages/admin_add_User.html" class="sidebar-items">
        <img src="../picture/sidebar/Leading Icon (4).png" alt="Icon" />
        <span>Settings</span>
      </a>
    </nav>
  </body>
</html>
